---
// Swiperのスタイルをインポート
import "swiper/css";
import "swiper/css/navigation";

const albums = [
    {
        title: "Socho! Socho Notebook!",
        year: "2013-2016",
        comment: "京都市左京区で作られた音源集",
        image: "/image/image.jpg",
        apple: "https://music.apple.com/jp/album/socho-socho-notebook/1868384590",
        spotify:
            "https://open.spotify.com/intl-ja/album/3uuaj27W4yVCFtWgW3lgeD?si=F1I0iPGQQb2FypObxiawRw",
    },
    {
        title: "Socho Notebook Philharmony!",
        year: "2016",
        comment: "合奏",
        image: "/image/image2.jpg",
        apple: "https://music.apple.com/jp/album/socho-notebook-philharmony-ep/1873042517",
        spotify:
            "https://open.spotify.com/intl-ja/album/4EDUQoJWRozuDYs2R4NjVO?si=lrATzHIHRDCIJCVae-cYWA",
    },
    {
        title: "MATH",
        year: "2017-2020",
        comment: "東アジア渡航の記録",
        image: "/image/image3.jpg",
        apple: "https://music.apple.com/jp/album/math-single/1883239312",
        spotify:
            "https://open.spotify.com/intl-ja/album/6hdTcaOgi1O7dhfGZeUOTt?si=Mzy8_gTASNSNwydKBZs6bg",
    },
];
---

<section id="discography" class="discography">
    <div class="container">
        <h2>WORKS</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {
                    albums.map((album) => (
                        <div class="swiper-slide">
                            <div class="album-item">
                                <img
                                    src={album.image}
                                    alt={album.title}
                                    loading="lazy"
                                />
                                <div class="album-info">
                                    <h3>{album.title}</h3>
                                    <p>{album.year}</p>
                                    <p>{album.comment}</p>
                                    <div class="listen">
                                        <a
                                            href={album.apple}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                        >
                                            <img
                                                class="music-icon"
                                                src="/image/apple-music.svg"
                                            />
                                        </a>
                                        <a
                                            href={album.spotify}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                        >
                                            <img
                                                class="music-icon"
                                                src="/image/spotify.png"
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

<style>
    .discography {
        padding: 8rem 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .album-item {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .album-item img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        background-color: #222;
        border-radius: 7px;
    }

    .album-info h3 {
        font-size: 1.1rem;
        margin: 1rem 0 0.5rem;
    }

    .album-info p {
        font-size: 0.9rem;
        margin-top: -10px;
    }
    .listen {
        background: #ffffff14;
        padding: 18px 0 10px 0;
        border-radius: 6px;
    }
    .music-icon {
        width: 30px !important;
        background-color: transparent !important;
        padding: 0 5px;
    }

    /* Swiperのナビゲーションボタンの色を白に */
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        color: #fff !important;
    }

    :global(.swiper-button-next:after),
    :global(.swiper-button-prev:after) {
        font-size: 2rem !important;
    }
    .swiper-button-next {
        top: 77%;
        right: -10px;
    }
    .swiper-button-prev {
        top: 77%;
        left: -10px;
    }
</style>

<script>
    // SwiperのJSをインポート
    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";

    // Swiperを初期化
    const swiper = new Swiper(".mySwiper", {
        modules: [Navigation],
        slidesPerView: 1, // スマホでは1枚
        spaceBetween: 20,
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        // レスポンシブ設定
        breakpoints: {
            640: { slidesPerView: 2 },
            1024: { slidesPerView: 3, spaceBetween: 40 },
        },
    });
</script>
